.App{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;;
    
}

.card{
    background-color: white;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    border-radius: 10px;

    transition: color 0.5s, transform 0.4s;
    
}

.card__quoteTitle{
    font-family: Poppins;
}

.card-transform{
    transform: translateX(-100vw);
}

.card-transitionNone{
    transition: none;
    transform: translateX(100vw);
}

.card__icon{
    font-size: 40px;
    float: left;
    padding-right: 10px;
}

.card__quote{
    font-size: 18px;
    margin-bottom: 20px;
}

.card__author{
    text-align: end;
    margin-bottom: 10px;

}

.card__btn{
    display: block;
    margin-left: auto;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 4px rgb(39, 38, 38);

}

.card__btn:hover{
    box-shadow: 0 0 10px rgb(39, 38, 38);
    transform: scale(1.05);
    transition: box-shadow 100ms ease, transform 100ms ease;
    
}

